@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

.katex-display {
  text-align: left !important;
}

.katex-display > .katex {
  text-align: left !important;
}
