.mdContainer blockquote {
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: 700;
}

.mdContainer .katex-display {
  margin: 0;
}

.mdContainer h1 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.mdContainer h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}

.mdContainer h3 {
  padding-left: 1em;
  font-weight: 500;
  font-style: italic;
}

.mdContainer table {
  table-layout: auto;
  border: 1px solid #555;
}

.mdContainer table th {
  border: 1px solid #555;
  padding: 0.1em 0.2em;
}

.mdContainer table td {
  border: 1px solid #555;
  padding: 0.1em 0.2em;
}

.mdContainer {
  line-height: 1.4;
  color: #0f172a; /* slate-900 */
}

.mdContainer ul {
  list-style-type: none;
  padding-left: 0.2em;
}

.mdContainer ul li {
  background-image: url(/circle.svg);
  background-repeat: no-repeat;
  background-position: left 0.4em;
  background-size: 0.35em;
  padding-left: 0.8em;
  margin-bottom: 0.1em;
}

.katex {
  font-size: 0.9em;
}

.mdContainer p {
  margin-bottom: 0.4em;
}

.mdContainer p {
  margin-bottom: 0;
}

.mdContainer pre {
  margin: 0.2em 0.1em;
  padding: 0.2em 0.4em;
  line-height: 1.2 !important;
  border: 1px solid #aaa;
}

.mdContainer .codeHighlight {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.mdContainer code {
  font-size: 0.95em;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}
